.Container{
    height:auto;
    width:450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCBABA;
    margin:auto;
  
}

.Content{
    background-color:#EEEEEE;
    height:100%;
    width:450px;
    border-radius: 20px;
    position: relative;
    border:1px solid
  
   
}

.subcontent{
    background-color: white;
    height: 30vh;
    border-radius: 20px;
}

.imagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    font-size: 14px;
    font-weight: 500;
}

.input{
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid;
    color: black;
    outline: none;
}

input::placeholder {
    color: black; /* Change the color */
   font-weight: bold;
  }
  label{
    color:#9D9D9D;
    font-size: 12px;
    font-weight: bold;
  }

  .img{
    position: absolute;
    top: -55px;
    left: -29px;
  }

  @media (max-width:450px){
    
    .Content{
        background-color:#F2F2F2;
        height:80vh;
        width:100vw;
        border-radius: 20px;
       

  }

}