.container{
    height:100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;

}

.content{
    border-radius: 20px;
    background-color: rgba(255, 71, 11, 1);
 border-radius: 20px;
    width: 450px;
height: 100vh;
    position: relative;
    padding-bottom: 2%;
    overflow: hidden;
    
}


   
    .Imagecontainer {
        position: relative;
    
    }

    .image1{
        position:absolute;
        z-Index:3;
        top:-50px
    }

    .image2{
        position:absolute;
        z-Index:1;
        right:0px;
        top:45px;
      
    }

    .btn{
        color:rgba(255, 70, 10, 1);
        border:none;
        background-Color:white;
        padding:25px;
        position:absolute;
        top:90%;
       width:100%;
        border-Radius:25px;
    
    }
    @media (max-width:450px){
    
        .Content{
           
            width:100vw;
           
    
      }
    
    }