.container{
    height:100vh;
    width:450px;
    margin:auto;
    background-color: #F5F5F8;
    padding: 25px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.box{
  
   padding:20px 30px;
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 20px;
    
}


.btn{
    width: calc(100% - 40px); 
    
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgba(250, 74, 12, 1);
    color: white;
    margin-top: 10%;
    font-size: 18px;
    position: absolute; /* Position button relative to the container */
  bottom: 20px; /* Distance from the bottom of the container */
  left: 20px; /* Distance from the left side */
  right: 20px;
}


